{% extends 'base.html' %}
{% block header %}
	{% load static %}
	{% load static %}
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'js/moment-timezone.js' %}"></script>
	<link rel="stylesheet" href="{% static "css/forms.css" %}" %}"/>
	<script>
		$(document).ready(function() {
			$("#id_timezone").val(moment.tz.guess());
		});
	</script>
{% endblock %}
{% block title %}Signup{% endblock %}
{% block content %}
	{% load crispy_forms_tags %}
	<form method="post">
		<h1>Sign up</h1>
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group">
			<button class="form-control" type="submit">Sign up</button>
		</div>
	</form>
{% endblock %}