{% extends "base.html" %}
{% block title %}Exam{% endblock %}
{% block header %}
	{% load static %}
	<link rel="stylesheet" href="{% static "css/exam.css" %}"/>
{% endblock %}
{% block content %}
	<h1>{{ object.subject }}: {{ object.paper }}</h1>
	{% load app_tags %}
	<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Score / {{ object.max_score }}</th>
				<th scope="col">Percentage</th>
				<th scope="col">Minutes Left</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for test in tests %}
				<tr>
					<td>{{ test.score }}</td>
					<td>{{ test.score|percent:object.max_score }}</td>
					<td>{{ test.minutes_left }}</td>
					<td><form class="del" id="{{ test.pk }}" action="javascript:;">
						<button class="form-control" name="pk" type="submit"><i class="material-icons">delete</i></button>
					</form></td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<form id="add" action="javascript:;">
				<tr>
					<td><input placeholder="Input" id="score" type="number" max="{{ exam.max_score }}" required/></td>
					<td></td>
					<td><input placeholder="Input" id="minutes_left" type="number" max="{{ exam.duration }}" required/></td>
					<td><button class="form-control" type="submit"><i class="material-icons">note_add</i></button></td>
				</tr>
			</form>
		</tfoot>
	</table>
	<div id="stats" style="float: right;">
		Average Score: <span id="avg_score">{{ avg_score|floatformat:"0" }} / {{ exam.max_score }}</span><br>
		Average Time Left: <span id="avg_time">{{ avg_time|floatformat:"0" }}</span>
	</div>
	</div>
	{% csrf_token %}
	<script type="text/javascript">
	// using jQuery
	var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
	<script src="{% static "js/exam.js" %}"></script>
{% endblock %}