{% extends 'base.html' %}
{% block header %}
	{% load static %}
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'js/moment-timezone.js' %}"></script>
	<style>
		#edit {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		#edit button {
			padding: 6px;
		}
		#sidebar {
			margin-left: -500px;
			transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
			position: fixed;
			background: #121217;
			width: 500px;
			height: 100%;
			top: 56px;
			left: 0;
			overflow-y: hidden;
		}

		.in {
			-moz-box-shadow: var(--shadow);
			-webkit-box-shadow: var(--shadow);
			box-shadow: var(--shadow);
		}

		.dark-scroll::-webkit-scrollbar-track {
			background-color: #121217;
		}

		#sidebar div:not(#colour,#test_data)
		{
			height: 1em;
		}

		#sidebar > div:not(:last-child) {
			width: 500px;
			padding-left: 5px;
			margin-bottom: 8px;
			height: 1em;
		}

		#sidebar > #subject {
			text-rendering: optimizeLegibility;
			font-size: 3rem;
			font-weight: 600;
		}

		#sidebar > #paper {
			font-size: 2.5rem;
		}

		#sidebar > #mark,
		#sidebar > #mins {
			font-size: 1.75rem;
		}
		#sidebar > #mark {
			margin-top: 20px
		}
		#sidebar > #date,
		#sidebar > #time {
			font-size: 2rem;
		}

		#sidebar > #colour {
			/*transition: background-color 200ms linear;*/
			height: 500px;
		}

		#sidebar > #time span {
			position: relative;
			top: -2px;
		}

		#test_button {
			position:relative;
			text-align: right;
			padding: 0;
			font-size: 1.5rem;
			background: none !important;

		}

		#sidebar > #test_data div {
			margin-left: 20px;
		}

		.none {
			display: none;
		}

		#test_button:before {
			font-family: "Material Icons";
			content: "expand_more";
			font-size: 2.25rem;
			float: left;
			height:2.25rem;
			width: 2.25rem;
			line-height:2.25rem;
			transition: transform 0.3s;
		}

		#test_button:focus {
			outline: 0;
			box-shadow: none;
		}

		#test_button.collapsed:before {
			transform: rotate(-90deg);
		}
	</style>
	{% block head %}
	{% endblock %}
	<script>
        var selector = {% block selector %}{% endblock %}
        var nullSelector = {% block nullSelector %}{% endblock %}

        var e = '{{ exams|escapejs }}';
        var exams = JSON.parse(e);
        var tests = JSON.parse('{{ tests|escapejs }}');
        console.log(tests);
        $(document).ready(function () {
            $(selector).css({"cursor": "pointer"});
            $(selector).click(function (event) {
                event.stopPropagation();
                $("#sidebar").css({"margin-left": "0"});
                $("#sidebar").addClass("in");
                var pks = $(this).data("exams");
                var dim = $(this)[0].getBoundingClientRect();
                var x = event.clientX - dim.left;
                var index = Math.floor((pks.length * x) / dim.width);
                for (var key in exams) {
                    var exam = exams[key];
                    if (exam["pk"] == pks[index]) {
                        var pk = exam["pk"];
                        $("#edit input").val(pk);
                        exam = exam["fields"];
                        $("#colour").css({"background": "#" + exam["subject"][1]});
                        $("#subject").text(exam["subject"][0]);
                        $("#paper").text(exam["paper"]);
                        if(tests[pk] == undefined) {
                            $("#test_button").addClass("none")
                            $("#mark, #percent, #mins").text("");
                        }
                        else {
                            $("#test_button").removeClass("none");
	                        $("#mark").text("Avg Mark: " + Math.round(tests[pk][0]) + " / " + exam["max_score"]);
	                        $("#percent").text("Avg Percent: " + Math.round(tests[pk][0] * 100 / exam["max_score"]) + "%");
		                    $("#mins").text("Avg Minutes Left: " + Math.round(tests[pk][1]))    ;
	                    }
                        var date = moment.tz(exam["date"], exam["subject"][2][1]);
                        var start = date.format("HH[:]mm");
                        var date_string = date.format("dddd, MMMM Do YYYY");
                        date.add(exam["duration"], "minutes");
                        var end = date.format("HH[:]mm");
                        $("#date").text(date_string);
                        $("#time")
	                        .text(start)
	                        .append($("<span></span>")
		                        .text(" \u2192 "))
	                        .append(end);// + " \u2192 " + end);
                        return;
                    }
                }
            });
            $("").click(function(e) {
                e.stopPropagation();
            })
            if(nullSelector != "") {
                nullSelector = "," + nullSelector
            }
            $(document).click(function (event) {
                if($(event.target).is("#sidebar, #sidebar *" + nullSelector))
                {
                    return;
                }
                $("#sidebar").css({"margin-left": "-500px"});
                $("#sidebar .collapse").collapse("hide");
                $("#sidebar").removeClass("in");
            });
        });
	</script>
{% endblock %}
{% block content %}
	{% block body %}
	{% endblock %}
	<div id="sidebar">
		<form id="edit" action="{% url "updateexam" %}">
			<input type="hidden" name="pk">
			<button><i class="material-icons">edit</i></button>
		</form>
		<div id="colour"></div>
		<div id="subject"></div>
		<div id="paper"></div>
		<div id="date"></div>
		<div id="time"></div>
		<button id="test_button" class="btn collapsed" data-toggle="collapse" data-target="#test_data">Test Data</button>
		<div id="test_data" class="collapse">
			<div id="mark"></div>
			<div id="percent"></div>
			<div id="mins"></div>
		</div>
	</div>
{% endblock %}