{% extends 'base.html' %}
{% block header %}
	{% load static %}
	<script src="{% static 'js/moment.js' %}"></script>
	<script src="{% static 'js/moment-timezone.js' %}"></script>
	<style>
		#sidebar {
			margin-left: -500px;
			transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
			position: fixed;
			background: #121217;
			width: 500px;
			height: 100%;
			top: 56px;
			left: 0;
			overflow-y: hidden;
		}

		.in {
			-moz-box-shadow: var(--shadow);
			-webkit-box-shadow: var(--shadow);
			box-shadow: var(--shadow);
		}

		.dark-scroll::-webkit-scrollbar-track {
			background-color: #121217;
		}

		#sidebar > div {
			width: 500px;
			height: 1em;
			padding-left: 5px;
			margin-bottom: 8px;
		}

		#sidebar > #subject {
			text-rendering: optimizeLegibility;
			font-size: 3rem;
			font-weight: bold;
		}

		#sidebar > #paper {
			font-size: 2.5rem;
		}

		#sidebar > #date {
			font-size: 2rem;
		}

		#sidebar > #colour {
			/*transition: background-color 200ms linear;*/
			height: 500px;
		}

		#sidebar > #date span {
			position: relative;
			top: -2px;
		}
	</style>
	{% block head %}
	{% endblock %}
	<script>
        var selector = {% block selector %}{% endblock %}
        var nullSelector = {% block nullSelector %}{% endblock %}
            function pad(n, width, z) {
                z = z || '0';
                n = n + '';
                return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }

        function format(date) {
            return pad(date.getHours(), 2) + ":" + date.getMinutes();
        }

        var e = '{{ exams|escapejs }}';
        var exams = JSON.parse(e);
        $(document).ready(function () {
            $(selector).css({"cursor": "pointer"});
            $(selector).click(function (event) {
                event.stopPropagation();
                $("#sidebar").css({"margin-left": "0"});
                $("#sidebar").addClass("in");
                var pks = $(this).data("exams");
                var dim = $(this)[0].getBoundingClientRect();
                var x = event.clientX - dim.left;
                var index = Math.floor((pks.length * x) / dim.width);
                for (var key in exams) {
                    var exam = exams[key];
                    if (exam["pk"] == pks[index]) {
                        exam = exam["fields"];
                        $("#colour").css({"background": "#" + exam["subject"][1]});
                        $("#subject").text(exam["subject"][0]);
                        $("#paper").text(exam["paper"]);
                        console.log(exam);
                        var date = moment.tz(exam["date"], exam["subject"][2][1]);
                        var start = date.format("HH[:]mm");
                        date.add(exam["duration"], "minutes");
                        var end = date.format("HH[:]mm");
                        $("#date")
	                        .text(start)
	                        .append($("<span></span>")
		                        .text(" \u2192 "))
	                        .append(end);// + " \u2192 " + end);
                        return;
                    }
                }
            });
            if(nullSelector != "") {
            $(nullSelector + ",#sidebar").click(function (e) {
                e.stopPropagation();
            });
            }
            $(document).click(function () {
                $("#sidebar").css({"margin-left": "-500px"});
                $("#sidebar").removeClass("in");
            });
        });
	</script>
{% endblock %}
{% block content %}
	{% block body %}
	{% endblock %}
	<div id="sidebar">
		<div id="colour"></div>
		<div id="subject"></div>
		<div id="paper"></div>
		<div id="date"></div>
	</div>
{% endblock %}