{% extends "base.html" %}
{% block title %}Tests{% endblock %}
{% block header %}
	{% load static %}
	<link rel="stylesheet" href="{% static "css/tests.css" %}"/>
{% endblock %}
{% block content %}
	{% for subject,exams in papers.items %}
		<div id="exams_{{ subject.0 }}">
			<button data-toggle="collapse" data-target="#{{ subject.0 }}">
				<div id="colour" style="background: {{ "#"|add:subject.2 }};"></div>
				{{ subject.1 }}
			</button>
			<div id="{{ subject.0 }}" class="exams collapse" style="position: absolute;" class="collapse">
				<ul>
					{% for exam in exams %}
						<li>{{ exam.paper }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endfor %}
{% endblock %}